{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Basket</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if basket_items %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col">
                        {% include "basket/basket-total.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include "basket/checkout-buttons.html" %}
                        <p class="text-yellow mb-5">A summary of your basket contents is below</p>
                    </div>
                </div>
                {% for item in basket_items %}
                    <div class="row">
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "basket/product-image.html" %}
                        </div>
                        <div class="col-12 col-sm-6 mb-2">
                            {% include "basket/product-info.html" %}
                        </div>
                        <div class="col-12 col-sm-6 order-sm-last">
                            {% if item.quantity > 1 %}
                            <p class="my-0">Price Each: €{{ item.product.price }}</p>
                            {% endif %}
                            <p><strong>Subtotal: </strong>€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                        </div>
                        <div class="col-12 col-sm-6">
                            {% include "basket/quantity-form.html" %}
                        </div>
                    </div>
                    <div class="row"><div class="col"><hr></div></div>
                {% endfor %}
                <div class="btt-button shadow-sm rounded-0 border border-black">
                    <a class="btt-link d-flex h-100">
                        <i class="fas fa-arrow-up mx-auto my-auto"></i>
                    </a>	
                </div>
            </div>

            <div class="table-responsive rounded d-none d-md-block">
                <table class="table table-dark table-sm table-borderless">
                    <thead>
                        <tr class="basket-border">
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in basket_items %}
                        <tr class="basket-border">
                            <td class="p-3 w-25">
                                {% include "basket/product-image.html" %}
                            </td>
                            <td class="py-3">
                                {% include "basket/product-info.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price }}</p>
                            </td>
                            <td class="py-3 w-25">
                                {% include "basket/quantity-form.html" %}
                            </td>
                            <td class="py-3">
                                <p class="my-0">€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                        <tr class="basket-border">
                            <td colspan="5" class="pt-5">
                                {% include "basket/basket-total.html" %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                {% include "basket/checkout-buttons.html" %}
                            </td>
                        </tr>
                </table>
            </div>
            {% else %}
                    <p class="lead mb-5">Your basket is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
            {% endif %}
        </div>
    </div>
</div> 
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // force qty_input to only be 0-99
    $(".qty_input").keyup(function() {
            let inputVal = $(this).val();
            if (inputVal < 0 || inputVal > 99 || inputVal.length > 2) {
                $(this).val("");
            } else {
                $(this).val(inputVal);
            }
        });

    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}