<h6><strong>Basket Total: €{{ total|floatformat:2 }}</strong></h6>
{% if free_delivery_delta != 0 %}
<h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
{% else %}
<h6>Delivery: FREE</h6>
{% endif %}
{% if discount > 0 %}
<h6 class="text-danger mb-4"><strong>Discount: -€{{ savings|floatformat:2 }}</strong> <a href="{% url 'remove-discount' %}"><i class="fa-solid fa-trash fa-sm text-black"></i></a></h6>
{% else %}
<form action="{% url 'add-discount' %}" method="POST">
    {% csrf_token %}
    <div class="input-group">
        {{ discount_form.code | as_crispy_field }}
        <div>
        <button class="btn btn-primary" type="submit">Apply</button>
        </div>
    </div>
</form>
{% endif %}
<h4><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
{% if free_delivery_delta > 0 %}
    <p class="mb-1 text-danger">
        You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
    </p>
{% endif %}