{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Home{% endblock %}

{% block extra_css %}
<style>
    .homepage-image {
        background: url("{% static 'img/homepage.png' %}") no-repeat center;
        background-size: cover;
        height: calc(100vh - 164px);
    }

    body {
        background-color: #0D0D11;
    }
</style>
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="text-center bg-image homepage-image">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white p-3">
            <h1 class="mb-3 home-text display-3 logo-font text-outline-black text-white">Classic Games</h1>
            <h4 class="mb-3 home-text display-4 logo-font text-white">Modern Convenience</h4>
            <a class="shop-now-button btn text-uppercase py-3" href="{% url 'products' %}" role="button">Shop Now</a>
        </div>
    </div>
</div>
{% endblock %}