{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row h-100">
            <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
                <div class="card border-0">
                    <img src="{% static 'img/password-reset-image.png' %}" class="card-img-top" alt="Change password image">
                    <div class="card-body">
                        <h1 class="card-title logo-font text-yellow">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
                        {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <h5 class="card-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</h5>
                        {% else %}
                        {% if form %}
                        <div class="col-lg-10 p-2 m-auto">
                        <form method="POST" action="{{ action_url }}" class="text-left">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-center">
                            <button class="btn-outline-black btn-lg text-uppercase py-2" name="action" type="submit">{% trans "change password" %}</button>
                        </div>
                        </form>
                        </div>
                        {% else %}
                        <h5 class="card-text">{% trans 'Your password is now changed.' %}</h5>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}