{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row h-100">
        <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
            <div class="card border-0">
                <img src="{% static 'img/forgot-password-image.png' %}" class="card-img-top" alt="Forgot password image">
                <div class="card-body">
                    <h1 class="card-title logo-font text-yellow">{% trans "Password Reset" %}</h1>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}
                    <h5 class="card-text">{% trans "Forgotten your password?<br>Enter your e-mail below and we'll sort you out!" %}</h5>
                    <div class="col-lg-10 p-2 m-auto">
                        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset text-left">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="text-center">
                                <button class="btn-outline-black btn-lg text-uppercase py-2" type="submit">{% trans "Reset My Password" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}