{% extends "account/base.html" %}

{% load i18n %}
{% load static %}

{% block extra_title %}- Verify Email{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row h-100">
        <div class="col col-lg-6 col-md-8 col-sm-12 m-auto text-center p-3">
            <div class="card border-0">
                <img src="{% static 'img/password-reset-done-image.png' %}" class="card-img-top" alt="Tribe password reset image">
                <div class="card-body">
                    <h1 class="card-title logo-font text-yellow">{% trans "Verify Your E-mail Address" %}</h1>
                    <h5 class="card-text">We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.</h5>
                    <h5 class="card-text">Please <a href="{% url 'contact' %}" class="text-teal">contact us</a> if you do not receive it within a few minutes.</h5>
                    <h4 class="p-3">
                        <a href="{% url 'home' %}" class="btn-outline-black btn-lg text-uppercase py-2">Back To Homepage</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}