{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Contact{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-4 py-xl-5">
    <h1 class="logo-font text-center mb-3">Open Tickets</h1>
    <div class="row">
        {% for ticket in open_tickets %}
        <div class="col-md-8 mx-auto p-4">
            <div class="d-flex align-items-center align-items-md-start align-items-xl-center">
                <div>
                    <h5 class="font-weight-bold">{{ ticket.name }} - {{ ticket.email }}</h5>
                    <p>{{ ticket.message }}</p>
                    <a href="#">Learn More</a>
                </div>
            </div>
            <hr class="my-5">
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}